<h1>Flat Booking Application </h1>

<%= render 'form' %>

<%= link_to 'Monthly Report', {:action => 'generate_monthly_report' } %>
<br/>
<%= link_to 'Yearly Report', {:action => 'generate_yearly_report'} %>