<h1>Flat Booking Application </h1>

<%= render 'form' %>

<table><tr><td></td><td><%= link_to 'Generate Monthly Report', {:action => 'generate_monthly_report' } %></td></tr>

<tr><td></td><td><%= link_to 'Generate Yearly Report', {:action => 'generate_yearly_report'} %></td></tr></table>